<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<form method="POST" action="/">
		<label for="full-name">Full Name</label>
		<input type="text" name="full-name" id="full-name">
		<label for="email-addy">Email Address</label>
		<input type="text" name="email-addy" id="email-addy">
		<label for="email-addy">Email Address</label>
		<input type="text" name="email-addy" id="email-addy">
		<label for="email-addy">Email Address</label>
		<input type="text" name="email-addy" id="email-addy">

		<textarea rows='50' columns='50'>Add your comments and questions here and a representative will contact you shortly.</textarea>
		<h4>Prefered method of contact:</h4>
		<label for="pref-email">Contact Via Email</label>
		<input type="checkbox" name="pref-email" id="pref-email">
		<label for="pref-phone">Contact Via Phone Call</label>
		<input type="checkbox" name="pref-phone" id="pref-phone">
		<button type="submit">Go!</button>
	</form>
</body>
</html>